taller_apirest_salome_version/inicializar.sql
taller_apirest_salome_version/config.py

taller_apirest_daniel_version/aipconect/flask-login-mysql

taller_apirest_salome_version/myenv

/home/salome/Microservicios/pruebas/api_getway/node_modules